

#container {
    margin: 0 auto;
    width: 80%;
}

img {
    border-radius: 5px 5px 0px 0px;
    /* border: 4px solid red; */
}

#main-img {
    width: 100%;
}

#sidebar-img {
    width: 75%;
}

#image-footer {
    line-height: 50px;
    background-color: black;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin-bottom: 0;
    font-family: 'Marcellus SC';
    padding-top: 10px;
}

#image-subfooter {
    font-family: 'Marcellus SC';
    font-style: italic;
    font-size: 25px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    line-height: 50px;
    border-radius: 0px 0px 5px 5px;
}

.card {
    margin-top: 10px;
    /* margin-bottom: 25px; */
    
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-top: 5px;
}

th {
    background: black;
    color: #ffffff;
    font-size: 14px;
}

td {
    border: 1px solid black;
    line-height: 10px;
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: #e1effd;
}

#train-name-header {
    border-radius: 5px 0px 0px 0px;
}

#minutes-away-header {
    border-radius: 0px 5px 0px 0px;
}

#table-footer {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    
    text-align: center;
}

#add-train-area {
    font-size: 12px;
    line-height: 10px;
    /* border: 1px solid black; */
    padding-bottom: 10px;
}

#add-train-header {
    font-size: 15px;
    background-color: black;
    color: #ffffff;
}

#submit-new-train {
    background-color: #ffe7ee;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
}

input { 
    font-size: 12px; 
    line-height: 12px;
}

/* change input border to red if value NOT valid */
input.invalid {
    border: 2px solid red;
}
/* change input border to green if value IS valid */
input.valid {
    border: 2px solid green;
}

/* hide this div if no user-input errors */
.error {
    display: none;
    margin-left: 10px;
}

/* show this div ONLY if user-input error */
.error-show {
    color: red;
    margin-left: 10px;
}

#sidebar-area {
    display: inline-block;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* @media queries go here (bottom of style.css) */
@media only screen and (max-width: 980px) {
    .container {
        /* background-color: lightblue; */
        width: 80%;
    }
    
    #add-train-area {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    /* For medium screen devices */
    .container {
        /* background-color: yellow; */
        width: 80%;
    }
    #add-train-area {
        width: 50%;
    }
    
}

@media only screen and (max-width: 640px) {
    /* For small screen devices */
    .contentArea {
        /* background-color: green; */
        width: 90%;
    }
    
    #add-train-area {
        width: 80%;
    }
    
    #train-table {
        width: 80%;
    }
}


